/* Will Dayble's a pretty cool guy. Eh designs the whole css and doesn't afraid of anything */
/* But then there are fully some other dudes and dudettes who helped out. They broke EVERYTHING */
/* LOL, Squareweave doing on the internets!!!! */
/* ------------------------------------------------------------------ */


/* z-index'd, together, for evar! 
/* Remember to set things in big sections, like, thousands...
/* ------------------------------------------------------------------ */

body{z-index: 1000;}
.content{z-index: 5000;}




/* These things are used by our coderz
/* ------------------------------------------------------------------ */
.js_hidden { display: none; }
.js_reallyhidden { display: none !important; }




/* Header! Do the header! Everyone, quick!
/* ------------------------------------------------------------------ */
.header{}



/* Main menu is m1. Sub menus are m1-m2-m3 etc...
/* ------------------------------------------------------------------ */
.m1{}




/* Foot clan, ATTACK!
/* ------------------------------------------------------------------ */
footer{}
